@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}

#nutrient-fact{
    text-align-last: justify;
}

.Small-label {
    width: 600px;
}
.Small-label .nutrient-fact-table {
    max-width:230px;
    border: 1px solid #000;
    padding: 5px;
}
.Medium-label {
    width: 800px;
}
.Medium-label .nutrient-fact-table{
    min-width:250px;
    max-width:300px;
    border: 1px solid #000;
    padding: 5px;
}

h3, h2, h4, h6 {
    font-family: "Mukta", "Noto Sans JP", sans-serif;
    font-weight: 800;
}

hr {
  margin-top: -0.5rem;
  margin-bottom: 0.1rem;
  border: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
}

.food-label {
    border: 2px solid #000;
    padding: 10px 0 0 0;
    margin: 0 auto;
}






/* Define the two-column layout */
.label-row {

}

/* Define style for individual fields */
.label-field {
    padding: 0px;
}


.editable-content {
    border: 1px solid #ccc;
    margin-bottom: 1px;
    padding: 6px;
    min-height: 20px;
}


/* User-editable text style */
ul {
    list-style-type:none;
    padding-left: 0;
}

label {
    margin-bottom: 0.5em;
    font-family: "Mukta", "Noto Sans JP", sans-serif;
    font-weight: 600;
    font-style: normal;
    caret-color: transparent !important;
}


.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);

}



body {
    font-family: "Mukta", "Noto Sans JP", sans-serif;


}

#nutrientInputsContainer {
    overflow-y: hidden;
}

#nutrientInputsContainer:hover {
    overflow-y: auto;
    margin-right: -20px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: light-gray;
            opacity: 0.6;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: light-gray;
            opacity: 0.6;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: light-gray;
            opacity: 0.6;
 }

 input[name='expiry_choice'] {
    vertical-align: middle;
    accent-color: rgba(40, 167, 69, 0.25);

 }

 input[name='expiry_choice']:checked {
    vertical-align: middle;
    accent-color: rgba(40, 167, 69, 0.25);
 }

.noto-sans jp-<uniquifier> {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.mukta-extralight {
  font-family: "Mukta", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.mukta-light {
  font-family: "Mukta", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-regular {
  font-family: "Mukta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mukta-medium {
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mukta-semibold {
  font-family: "Mukta", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mukta-bold {
  font-family: "Mukta", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mukta-extrabold {
  font-family: "Mukta", sans-serif;
  font-weight: 800;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 20px;

}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}