{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Food Label Input Form" %}</title>
    <!-- Bootstrap CSS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
    <div class="container">

        <div class="pt-5 mb-5"><h3 class="mukta-bold">{% trans "Create Label Template" %}</h3></div>
        <form method="post">
        {% csrf_token %}
            <div class="form-group row">
                <div class="col-3">
                    <label for="{{ form.product_name.id_for_label }}">{% trans "Import Country" %}</label> {{ form.import_country }}
                </div>
            </div>
            <div class="form-group row justify-content-md-center">
                <div class="col-6 col-auto">
                    <label class="" for="{{ form.product_name.id_for_label }}">{% trans "Product Name" %}</label>
                    {{ form.product_name }}
                </div>
                <div class="col-6 col-auto">
                    <label for="form.net_weight.id_for_label">{% trans "Net Weight" %}</label>
                    <div class="row">
                        <div class="col-6 col-auto" style="margin-right: -1em">
                            <input type="text" name="content_amount" class="form-control" id="content_amount" placeholder="0.02" value="{{ form.net_weight.amount }}">
                        </div>
                        <div class="col-auto">
                            <select id="content_unit" name="content_unit" class="pl-n2 form-control">
                                <option value="g">g</option>
                                <option value="mg">mg</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6 col-auto">
                    <label for="{{ form.product_name.id_for_label }}">{% trans "Ingredients" %}</label>
                    {{ form.ingredients }}
                </div>
                <div class="col-6 col-auto">
                    <label for="{{ nutrient_form.name.id_for_label }}" class="me-2">Nutrients</label>
                    <label><button type="button" id="addNutrientButton" class="btn btn-success btn-sm py-0" >Add More Nutrients</button></label>
                    <div id="nutrientInputsContainer" style="max-height: 9.2em; overflow-x: hidden;"></div>
                </div>


            </div>
            <!--<label for="{{ form.product_name.id_for_label }}">{% trans "Content" %}</label> {{ form.content }} -->
            <div class="form-group row justify-content-md-center">
                <div class="col-6 col-auto">
                    <label for="{{ form.product_name.id_for_label }}">{% trans "Other_info" %}</label>
                    {{ form.other_info }}
                </div>
                <div class="col-6 col-auto">
                    <label for="{{ form.product_name.id_for_label }}">{% trans "Instruction" %}</label>
                    {{ form.instruction }}
                </div>
            </div>

            <div class="form-group row justify-content-md-center">
                <div class="col-6 col-auto">
                    <label for="{{ form.storage.id_for_label }}">{% trans "Storage" %}</label>
                    {{ form.storage }}
                </div>
                <div class="col-6 col-auto">
                    <label class="me-2" for="{{ form.product_name.id_for_label }}">{% trans "Expiry Date" %}</label>
                    <label>
                        <input type="radio" name="expiry_choice" value="date" checked> Select Date
                    </label>
                    <label>
                        <input type="radio" name="expiry_choice" value="printed"> Printed on the package
                    </label>
                    <div id="expiryDateField">{{ form.expiry_date }}</div>
                </div>
            </div>

            <label for="{{ form.product_name.id_for_label }}">{% trans "Sizes" %}</label> {{ form.sizes }}

            <label for="{{ form.country_of_origin.id_for_label }}">{% trans "Country of Origin" %}</label> {{ form.country_of_origin }}

            <label for="{{ form.company_name.id_for_label }}">{% trans "Company Name" %}</label> {{ form.company_name }}
            <label for="{{ form.company_address.id_for_label }}">{% trans "Company Address" %}</label> {{ form.company_address }}
            <label for="{{ form.company_email.id_for_label }}">{% trans "Company Email" %}</label> {{ form.company_email }}
            <label for="{{ form.company_phone.id_for_label }}">{% trans "Company Phone" %}</label> {{ form.company_phone }}
            <label for="{{ form.manufacturer_name.id_for_label }}">{% trans "Manufacturer Name" %}</label> {{ form.manufacturer_name }}
            <label for="{{ form.manufacturer_address.id_for_label }}">{% trans "Manufacturer Address" %}</label> {{ form.manufacturer_address }}
            <button type="submit">{% trans "Convert" %}</button>
        </form>

        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}">
            <select name="language" onchange="this.form.submit()">
                <option value="ja"{% if LANGUAGE_CODE == "ja" %} selected{% endif %}>日本語</option>
                <option value="en"{% if LANGUAGE_CODE == "en" %} selected{% endif %}>English</option>
                <!-- Add more language options as needed -->
            </select>
        </form>

    </div>


    <script src="{% static 'javascript/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
</html>